body {
  font-family: Georgia, Times, "Times New Roman", serif;
  background: url('../images/space_background.jpg');
  color: #fff;
}

.jumbotron {
	color: #000;
	opacity: 0.5;
}

#computerGuess {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.tribble-image {
	width: 100px;
}

p, h3 {
	font-size: 18px;
	line-height: 24px;
}


#instructions {
	padding: 20px;
}